.endpoints {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 1.3em 0em;
}
.btnGroup {
  z-index: 0;
}

@media (max-width: 391px) {
  .endpoints {
    display: none;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
